<%= form_for(marketer) do |f| %>
  <% if marketer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marketer.errors.count, "error") %> prohibited this marketer from being saved:</h2>

      <ul>
      <% marketer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :companyName %>
    <%= f.text_field :companyName %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :budget %>
    <%= f.text_field :budget %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_field :message %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
