<p id="notice"><%= notice %></p>

<h1>Marketers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Companyname</th>
      <th>Email</th>
      <th>Budget</th>
      <th>Message</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marketers.each do |marketer| %>
      <tr>
        <td><%= marketer.name %></td>
        <td><%= marketer.companyName %></td>
        <td><%= marketer.email %></td>
        <td><%= marketer.budget %></td>
        <td><%= marketer.message %></td>
        <td><%= marketer.country %></td>
        <td><%= link_to 'Show', marketer %></td>
        <td><%= link_to 'Edit', edit_marketer_path(marketer) %></td>
        <td><%= link_to 'Destroy', marketer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marketer', new_marketer_path %>
