<div class="influencers">

  <div class="back-button">
    <%= link_to 'Back', influencersstatic_index_path , class: "btn btn-danger "%>
  </div>

  <div class="individual-influencer-head text-center">
    <h1> <%= @influencer.nickname %> </h1>
    <br>
    <h3> This is the influencer details </h3>
  </div>

  <div class="influencer-profile-picture">
    <%= image_tag @influencer.try(:profile_picture), class:"img-circle img-responsive center-block" %>
  </div>

  <div class="followers-column">
    <div class="row">
      <div class="col-xs-6">
        <h2> Followers Number </h2>
      </div>
      <div class="col-xs-6">
        <h2> <%= @influencer.followers %> </h2>
      </div>
    </div>
  </div>

    <div class="following-column">
      <div class="row">
        <div class="col-xs-6">
          <h2> Number of influencer following </h2>
        </div>
        <div class="col-xs-6">
          <h2> <%= @influencer.following %> </h2>
        </div>
      </div>
    </div>

    <div class="media-column">
      <div class="row">
        <div class="col-xs-6">
          <h2> Numbers of photos or videos posted </h2>
        </div>
        <div class="col-xs-6">
          <h2> <%= @influencer.media %> </h2>
        </div>
      </div>
    </div>


    <br>

    <div class="influencer-recent-media-head text-center">
      <h3> Influncer Recent Photos </h3>
    </div>

    <div class="container-influencer">
      <div class="row">
      <% @ig_media['data'].each do |p| %>
        <div class="col-md-4 item">
        <%= image_tag p['images']['standard_resolution']['url'], class: 'hello img-responsive center-block' %>
        </div>
      <% end %>
      </div>
    </div>

</div>
