<div class="about">
  <div class="background-about">
    <div class="content-about">
      <h1> About Us </h1>
      <hr class="short-underline">
       <h2> Influence was founded in 2016 by 3 amazing human who connected in a bootcamp.

            We believe that social media users are the future of content.

            By building tools that help influencers across the instagram we hope to improve the connection between marketers and instagram users. Boom. </h2>
       <h1> Get connected with us... </h1>
       <hr class="short-underline"> </hr>

      <div class="all-content-group">



        <div class="background-icon-tevan">

         <div class="content-abouttevan">
         <%= image_tag "influence.jpg", class: "background-aboutme-img"%>
         </div>

           <a href="http://www.twitter.com/tevanraj">
           <div class ="icon">
             <%= fa_icon 'twitter 2x' %>
           </div>
          </a>

           <a href="http://www.instagram.com/tevanraj">
             <div class= "icon">
              <%= fa_icon 'instagram 2x' %>
             </div>
           </a>


            <div class="just-content">
              <p> The one and only Tevan </p>
            </div>


        </div>



        <div class="background-icon-nik">

          <div class="content-aboutnik">
          <%= image_tag "influence.jpg", class: "background-aboutme-img"%>
          </div>

          <a href="http://www.twitter.com">
            <div class="icon">
              <%= fa_icon 'twitter 2x' %>
            </div>
          </a>

          <a href="http://www.instagram.com">
            <div class= "icon">
             <%= fa_icon 'instagram 2x' %>
           </div>
         </a>

           <div class="just-content">
             <p> The one and only Nik </p>
           </div>

        </div>

        <div class="background-icon-mc">

          <div class="content-aboutmc">
          <%= image_tag "influence.jpg", class: "background-aboutme-img"%>
          </div>

          <a href="http://www.twitter.com">
            <div class="icon text-center">
              <%= fa_icon 'twitter 2x' %>
            </div>
          </a>

          <a href="http://www.instagram.com">
            <div class= "icon text-center">
             <%= fa_icon 'instagram 2x' %>
            </div>
          </a>

          <div class="just-content">
            <p> The one and only MC </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="background2">
  <html>
  <head>
    <style>
      #map {
        width: 100%;
        height: 400px;
        /*background-color: grey;*/
      }
    </style>
  </head>
  <body>
    <div class="map text-center">
    <h3>Our Location</h3>
  </div>

    <div id="map"></div>
    <script>

      function initMap() {
        var uluru = {lat: 2.908888, lng: 101.654812};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 30,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVt7THMO9Ltt4rPnzYrAYaTRP0lGRlSxY&callback=initMap">
    </script>
  </body>
</html>
</div>


<!-- #our location-include map -->
<!-- #our team - 3 vertical with social media links -->
