<div class="jobs">

    <div class="job-big-container">
        <% if @jobs.any? %>
        <div class="well well-sm">
            <strong>Category Title</strong>
            <div class="btn-group">
                <a href="#" id="list" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th-list"></span>List</a>
                <a href="#" id="grid" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-th"></span>Grid</a>
            </div>
        </div>

        <% @jobs.each do |job| %>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src=<%= job.background_image %> alt=""/>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        <%= job.title %></h4>
                    <p class="group inner list-group-item-text">
                        <%= job.description %></p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="lead">
                              <%= job.budget %>
                              </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <%= link_to "View Details", job_path(id: job.id), class: 'btn btn-success'%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>

    <% else %>
        <div class="nothing text-center">
            <h3>
                Job posting wall is empty right now!
            </h3>
        </div>
        <% end %>
    </div>
  </div>
</div>
<p></p>
