<p id="notice"><%= notice %></p>


<div class="container">
    <div class="fb-profile">

            <div class="job-title">
              <p>
                <strong>Title:</strong>
                <%= @job.title %>
              </p>

               <div class="industry-title">
                 <p> Industry Type <p>
               </div>
            </div>
    </div>
</div>



<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @job.avatar %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @job.companyName %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @job.requirements %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @job.skills %>
</p>



<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
